<div class="trainer-card">
    <div class="trainer-info">
        <h1 class="trainer-name">Ash Ketchum</h1>
        <p class="trainer-description">The very best, like no one ever was!</p>
        <p class="trainer-location">Location: Pallet Town</p>
        <p class="trainer-age">Age: 10</p>
        <p class="trainer-badge-count">Badge Count: 8</p>
        <p class="trainer-bio">
            Ash Ketchum, a young Pokémon Trainer from Pallet Town. He dreams of becoming a Pokémon Master and travels the world with his loyal Pokémon friends.
        </p>
    </div>
    <img src="/img/ash.png" alt="Ash Ketchum" class="trainer-image" width="200" height="200">
    <div class="pokemon-team">
        <h2 class="team-heading">Pokémon Team</h2>
        <ul class="pokemon-list">
            <li class="pokemon">
                <img src="/img/snorlax.png" alt="Snorlax" class="pokemon-image" width="80" height="80">
                Snorlax - Level 50
            </li>
            <li class="pokemon">
                <img src="/img/muk.png" alt="Muk" class="pokemon-image" width="80" height="80">
                Muk - Level 55
            </li>
            <li class="pokemon">
                <img src="/img/heracross.png" alt="Heracross" class="pokemon-image" width="80" height="80">
                Heracross - Level 45
            </li>
            <li class="pokemon">
                <img src="/img/tauros.png" alt="Tauros" class="pokemon-image" width="80" height="80">
                Tauros - Level 40
            </li>
            <li class="pokemon">
                <img src="/img/bayleef.png" alt="Bayleef" class="pokemon-image" width="80" height="80">
                Bayleef - Level 40
            </li>
            <li class="pokemon">
                <img src="/img/charizard.png" alt="Charizard" class="pokemon-image" width="80" height="80">
                Charizard - Level 60
            </li>
        </ul>
    </div>
    <div class="trainer-achievements">
        <h2 class="achievements-heading">Achievements</h2>
        <ul class="achievements-list">
            <li class="achievement">Winner of Indigo League Championship</li>
            <li class="achievement">Defeated Team Rocket</li>
            <li class="achievement">Received all 8 Gym Badges</li>
        </ul>
    </div>
</div>
