<div class="author">
    <h1 class="author__body">Author name</h1>
    <p class="author__body">Hello</p>
</div>

<img src="/img/logo.png" alt="pokemon logo" class="logo-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older Posts </a>
</section>